os: Visual Studio 2019

environment:
  matrix:
    - rust_version: stable
      RUST_BACKTRACE: full
    - rust_version: beta
      RUST_BACKTRACE: full
    - rust_version: nightly
      RUST_BACKTRACE: full

matrix:
  allow_failures:
    - rust_version: nightly

install:
  - ps: scripts/install_foundationdb_win64.ps1
  - appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
  - rustup-init -yv --default-toolchain %rust_version%
  - ps: $env:Path = "C:\Program Files\foundationdb\bin;$env:USERPROFILE\.cargo\bin;$env:Path"

build_script:
  - cargo test --manifest-path foundationdb-sys/Cargo.toml
  - cargo test --manifest-path foundationdb-gen/Cargo.toml
  - cargo test --manifest-path foundationdb/Cargo.toml
  - cargo test --manifest-path foundationdb/Cargo.toml --no-default-features --features fdb-6_0 --tests
  - cargo test --manifest-path foundationdb-bench/Cargo.toml
  - cargo run --manifest-path foundationdb/Cargo.toml --example class-scheduling
