os: Visual Studio 2017

environment:
  matrix:
    - rust_version: stable
      RUST_BACKTRACE: full
    - rust_version: beta
      RUST_BACKTRACE: full
    - rust_version: nightly
      RUST_BACKTRACE: full

matrix:
  allow_failures:
    - rust_version: nightly

install:
  - ps: scripts/install_foundationdb_win64.ps1
  - appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
  - rustup-init -yv --default-toolchain %rust_version%
  - ps: $env:Path = "C:\Program Files\foundationdb\bin;$env:USERPROFILE\.cargo\bin;$env:Path"

build_script:
  - cargo test -p foundationdb-sys
  - cargo test -p foundationdb-gen
  - cargo test -p foundationdb
  - cd foundationdb && cargo test --no-default-features --features fdb-6_0
  - cargo test -p foundationdb-bench
  - cargo run -p foundationdb --example class-scheduling
